<!DOCTYPE html>
<html lang="en">


<!-- molla/category.html  22 Nov 2019 10:02:48 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/icons/site.html">
    <link rel="mask-icon" href="/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/plugins/nouislider/nouislider.css">
</head>

<body>
    <style>
        .add-btn{
            border: none;
        }
        .wishlist{
            font-size: 1rem;
            color:#333333;
            border-radius:10px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding: 1em;
            
        }
        .close{
            text-align: right;
            margin-right: .5em;
            margin-top: .5em;
        }
        

    </style>
    <div class="page-wrapper">
        
        <%-include("./partials/nav.ejs")  %> 
        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">welcome  <span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/shop">Shop</a></li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                	<div class="row">
                		<div class="col-lg-9">
                			<div class="toolbox">
                				<div class="toolbox-left">
                					<div class="toolbox-info">
                						Showing <span> of <%= shopProduct.length  %> </span> Products
                					</div><!-- End .toolbox-info -->
                				</div><!-- End .toolbox-left -->

                				<div class="toolbox-right">
                					<div class="toolbox-sort">
                						<label for="sortby">Sort by:</label>
                						<div class="select-custom">
											<select name="sortby" id="sortby" class="form-control">
												<option value="popularity" selected="selected">Most Popular</option>
												<option value="rating">Most Rated</option>
												<option value="date">Date</option>
											</select>
										</div>
                					</div><!-- End .toolbox-sort -->
                					
                				</div><!-- End .toolbox-right -->
                			</div><!-- End .toolbox -->

                            <div class="products mb-3" id="filter">
                                <div class="row justify-content-center" id="filtered">
                                    

                                   <% shopProduct.map( product => { %> 
                                    <div class="col-6 col-md-4 col-lg-4">
                                        <div class="product product-7 text-center">
                                            <figure class="product-media">
                                                <span class="product-label label-out">
                                                    <% if(product.productInStock > 0){ %> 
                                                        sale
                                                    <% }else { %> 
                                                        out of stock  
                                                    <% } %> 
                                                </span>
                                                <a href="/product-detail/<%=product.product_id  %> ">
                                                    <img src="/product/<%= product.productImage[0]%> " alt="Product image" class="product-image">
                                                </a>

                                                <div class="product-action-vertical">
                                                    <a class="btn-product-icon btn-wishlist btn-expandable" onclick="addToWishlist('<%=product._id%>')"><span>add to wishlist</span></a>
                                                </div><!-- End .product-action-vertical -->

                                                <div class="product-action" id="addToCart">
                                                    <input type="hidden" value="<%=product._id%>" name="productId" id="">
                                                    <input type="hidden" value="<%=user._id%>" name="userId" id="userId">
                                                    <input type="hidden" value="<%=product.productPrize%>" name="productPrize" id="productPrize">
                                                    <button class="btn-product btn-cart add-btn" onclick="addToForm('<%=product._id%>', '<%=user._id%>' ,'<%=product.productPrize%>')"><span>add to cart</span></button>
                                                </div><!-- End .product-action -->
                                            </figure><!-- End .product-media -->

                                            <div class="product-body">
                                                <div class="product-cat">
                                                    <a href="#">Jackets</a>
                                                </div><!-- End .product-cat -->
                                                <h3 class="product-title"><a href="/product-detail/<%=product.product_id%>"><%=product.productName%> </a></h3><!-- End .product-title -->
                                                <div class="product-price">
                                                    <span class="out-price">$ <%= product.productPrize%> </span>
                                                </div><!-- End .product-price -->
                                            </div><!-- End .product-body -->
                                        </div><!-- End .product -->
                                    </div><!-- End .col-sm-6 col-lg-4 -->
                                   <% }) %>  

                                    

                                </div><!-- End .row -->
                            </div><!-- End .products -->

                		</div><!-- End .col-lg-9 -->
                		<aside class="col-lg-3 order-lg-first">
                			<div class="sidebar sidebar-shop">
                				<div class="widget widget-clean">
                					<label>Filters:</label>
                					<a href="#" class="sidebar-filter-clear">Clean All</a>
                				</div><!-- End .widget widget-clean -->

                				<div class="widget widget-collapsible">
    								<h3 class="widget-title">
									    <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
									        Category
									    </a>
									</h3><!-- End .widget-title -->

									<div class="collapse show" id="widget-1">
										<div class="widget-body">
                                            <% category.map( (category, index) => { %> 
                                                <div class="filter-items filter-items-count">
                                                    <div class="filter-item">
                                                        <div class="custom-control custom-checkbox"> 
                                                            <input type="checkbox" class="custom-control-input" id="<%=category.name%>" >
                                                            <label class="custom-control-label" for="<%=category.name%>"><%=category.name%> </label>
                                                        </div><!-- End .custom-checkbox -->
                                                        <!-- <span class="item-count">3</span> -->
                                                    </div><!-- End .filter-item --><!-- End .filter-item -->
                                                </div>
                                            <% }) %>    
											<!-- End .filter-items -->
										</div><!-- End .widget-body -->
									</div><!-- End .collapse -->
        						</div><!-- End .widget -->
                			</div><!-- End .sidebar sidebar-shop -->
                		</aside><!-- End .col-lg-3 -->
                	</div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
        <%-include("./partials/footer.ejs")  %> 
       <!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>
            
            <%-include("./partials/mobile-nav.ejs")  %>
            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->
    <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        <div class="modal-body wishlist">
           <h3>product added successfully</h3>
        </div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
</div>
    <script>

      
       async function deleteItem(id , qty , total){
            try{
                const res = await fetch("/delete-item" , {
                    method:"DELETE",
                    body:JSON.stringify({id , qty , total}),
                    headers:{"Content-Type":"application/json"}
                    
                })

                const data = await res.json()
                if(data.message.includes("success")){
                    location.reload()
                }
            }
            catch(err){
                console.log(err)
            }
        }   
        const checkboxes = document.querySelectorAll('.custom-control-input');
        checkboxes.forEach(checkbox => {
        checkbox.addEventListener('change', async function() {
            if (this.checked) {
               try{
                 const res = fetch(`/filer-product?category=${this.id}`)
                 .then( response => response.json())
                 .then( data => { 
                    const filteredDiv = document.querySelector("#filtered")
                    filteredDiv.innerHTML = ""
                    if(data.data.length == 0){
                        filteredDiv.innerHTML += "no item to show in selected category"
                    }
                    data.user
                    data.data.map( datas => {
                       html = `<div class="col-6 col-md-4 col-lg-4">
                                        <div class="product product-7 text-center">
                                            <figure class="product-media">
                                                <span class="product-label label-out">
                                                  
                                                </span>
                                                <a href="/product-detail/${datas.product_id} ">
                                                    <img src="/product/${datas.productImage[0]} " alt="Product image" class="product-image">
                                                </a>

                                                <div class="product-action-vertical">
                                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                                    <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                                </div>
                                                <div class="product-action" id="addToCart">
                                                    <button class="btn-product btn-cart add-btn" onclick="addToForm('${datas._id}' ,'${data.user}','${datas.productPrize}')"><span>add to cart</span></button>
                                                </div>    

                                            </figure>

                                            <div class="product-body">
                                                <div class="product-cat">
                                                    <a href="#">Jackets</a>
                                                </div>
                                                <h3 class="product-title"><a href="product.html">${datas.productName}</a></h3>
                                                <div class="product-price">
                                                    <span class="out-price">$${datas.productPrize} </span>
                                                </div><!-- End .product-price -->
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-val" style="width: 80%;">
                                                    </div><!-- End .ratings -->
                                                    <span class="ratings-text">( 6 Reviews )</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div> `
                                    filteredDiv.innerHTML += html
                    })                 
                 })
               }
               catch(err){
                  console.log(err)
               }
            }else{
                // const productList = document.querySelector("#filtered")
                // productList.innerHTML = " no item in stock in selected category"
            }
        });
       });   
    </script>
    <script src="/js/addToWishlist.js"></script>
    <script src="/js/addToCart.js"></script>
    <!-- Plugins JS File -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <script src="/assets/js/superfish.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/wNumb.js"></script>
    <script src="assets/js/bootstrap-input-spinner.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/nouislider.min.js"></script>
    <!-- Main JS File -->
    <script src="/assets/js/main.js"></script>
</body>


<!-- molla/category.html  22 Nov 2019 10:02:52 GMT -->
</html>